<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <video id="video" preload="auto" autobuffer="true" width="480" controls>
    <source src="{% raw video_url %}">
  </video>
  <audio id="audio" preload="auto" autobuffer="true" controls>
    <source src="{% raw audio_url %}">
  </audio>
  <br>
  <a href="https://youtube.com/watch?v={% raw video_url_id %}&t={{ int(round(float(video_seek))) }}">Video source</a>
  <br>
  Video: "{% raw video_title %}"
  <br>
  <a href="https://youtube.com/watch?v={% raw audio_url_id %}&t={{ int(round(float(audio_seek))) }}">Audio source</a>
  <br>
  Audio: "{% raw audio_title %}"
  <p>Alternative audios:</p>
  {% for i, backup in enumerate(backups) %}
    <a href="/watch?v={% raw video_url_id %}&a={{ backup.to_audio.url_id}}&vseek={{ backup.from_seek }}&aseek={{ backup.to_seek}}">{{ i }} backup</a><br>
    sscore: {{ backup.scaled_score }}<br>
    ascore: {{ backup.score }}</br>
    Audio from "{% raw backup.to_audio.video_metadata['title'] %}"<br><br>
  {% end %}
  <script>
    (function () {
      var video_seek = parseFloat('{% raw video_seek %}');
      var audio_seek = parseFloat('{% raw audio_seek %}');
      var delay = video_seek - audio_seek;
      var video = document.getElementById('video');
      video.onplaying = (e) => {
        audio.play();
      };
      video.onseeked = (e) => {
        if (Math.abs(video.currentTime - audio.currentTime - delay) > 0.5) {
          audio.currentTime = video.currentTime - delay;
        };
      };
      video.onpause = () => {
        audio.pause();
      };
      video.onended = () => {
        audio.pause();
      };
      video.ontimeupdate = (e) => {
        if (video.currentTime < video_seek) {
          video.currentTime = video_seek;
        };
        if (Math.abs(video.currentTime - audio.currentTime - delay) > 0.5) {
          audio.currentTime = video.currentTime - delay;
        };
      };
      // We may need some workaround for Chrome on Android:
      // https://bugs.chromium.org/p/chromium/issues/detail?id=138132
      var audio = document.getElementById('audio');
      audio.onplaying = (e) => {
        video.play();
      };
      audio.onseeked = (e) => {
        if (Math.abs(audio.currentTime - video.currentTime + delay) > 0.5) {
          video.currentTime = audio.currentTime + delay;
        };
      };
      audio.onpause = () => {
        video.pause();
      };
      audio.onended = () => {
        video.pause();
      };
      audio.ontimeupdate = (e) => {
        if (audio.currentTime < audio_seek) {
          audio.currentTime = audio_seek;
        };
      };
    }());
  </script>
</body>
</html>
