<!DOCTYPE html>
<html>
  <head>
    <script src="/static/popcorn.js"></script>
    <script src="/static/popcorn.compatible.js"></script>
    <script src="/static/popcorn-base.js"></script>
    <script src="/static/popcorn.inception.js"></script>
  </head>
  <body>
    <div id="video-container">
      <video preload="auto" autobuffer="true" width="480" controls>
        <source src="{% raw video_url %}">
      </video>
    </div>
    <script>
      (function () {
        var video_seek = parseFloat('{% raw video_seek %}');
        var audio_seek = parseFloat('{% raw audio_seek %}');
        var video = Popcorn('video', {frameAnimation: true});
        video.on('timeupdate', function () {
          if (video.currentTime() < video_seek) {
            video.currentTime(video_seek);
          };
        });
        video.defaults('inception', {target: 'video-container'});
        video.inception({
          source: '{% raw audio_url %}',
          controls: true,
          sync: true,
          start: video_seek,
          from: audio_seek
        });
      }());
    </script>
  </body>
</html>
